<?xml version='1.0' encoding='utf-8'?>
<widget id="com.konleng.app" version="0.2.8" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Konleng</name>
    <description>Easier way to deal with real estates in Cambodia.</description>
    <author email="vicheanak@gmail.com" href="https://konleng.com/">Vannavy Vicheanak</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <universal-links>
        <host name="konlengcloud.page.link" scheme="https" />
        <host name="konleng-cloud.firebaseapp.com" scheme="https">
            <path url="/__/auth/callback" />
        </host>
    </universal-links>
    <allow-navigation href="http://192.168.8.101:8100" />
    <allow-navigation href="http://192.168.8.100:8100" />
    <allow-navigation href="http://192.168.8.103:8100" sessionid="2218baec" />
    <preference name="ScrollEnabled" value="false" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="AndroidLaunchMode" value="singleTask" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
</widget>
